*{
    padding: 0px;
    margin: 0px;
}
 body{
    background-color: black; 
}
#ball{
    width: 300px;
    height:300px;
    background-color: yellow;
    border-radius: 200px 200px 200px 200px; 
    position: absolute;
    left: -7%;
    top: -15%;  
}
h1{
    position: absolute;
    left: 2%;
    top: 7%;
}
.a{
    position: absolute;
    left: 30%;
    top: 5%;
    font-size: xx-large;
    color:whitesmoke;
}
.b h1{
    width: 300px;
    position: absolute;
    top: 30%;
    left: 5%;
    color: yellow;
}
.b h3{
    width: 550px;
    position: absolute;
    top: 40%;
    left: 5%;
    color: white;   
}
.c h1{
    width: 300px;
    position: absolute;
    top: 60%;
    left: 5%;
    color: yellow;
}
.c h3{
    width: 500px;
    position: absolute;
    top: 70%;
    left: 6%;
    color: white;   
}
.bg{
    clip-path: polygon(15% 0, 100% 0%, 100% 100%, 0% 100%);
    width: 630px;
    height: 370px;
    background-color: yellow;
    z-index: 0;
    position: absolute;
    top: 54%;
    left: 54%;
}


.vid{
    position: absolute;
    top: 55%;
    left: 55%;
    clip-path: polygon(15% 0, 100% 0%, 100% 100%, 0% 100%);
    z-index: 21;
}

.map{
    position: absolute;
    top: 5%;
    left: 55%;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 15% 100%);
    z-index: 20;
}
.bg-1{
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 15% 100%);
    width: 630px;
    height: 390px;
    z-index: 1;
    position: absolute;
    background-color: yellow;
    top: 2%;
    left: 54%; 

}

h6{
    color: yellow;
}